body{
    font-family: arial;
    font-size: 24px;
    background-color: aqua;
}
h1{
    font-size: 30px ;
    color: brown;
    text-align: center;
    border-bottom: solid 2px red;
}
h2{
    color: chartreuse;
    border-bottom: dotted 4px yellow;
    border: dotted 4px yellow;
    text-align: center;
}
#datos{
    border: dashed 3px violet;
}
#contenido{
    border-left: 4px dashed blueviolet;
    border-right: 4px dashed blueviolet;
}
